body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#04a3f0;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  -webkit-animation:colorchange 4s;
}
@-webkit-keyframes colorchange {
      0% {
        color: #000066;
      }    
      10% {      
        color: #000066;
      }
      20% {      
        color: #ffcc66;
      }      
      30% {        
        color: #ffcc66;
      }      
      40% {        
        color: #ffff66;
      }      
      50% {        
        color: #ffff66;
      }      
      60% {        
        color: #ffffff;
      }      
      70% {       
        color: #ffffff;
      }
      80% {     
        color: #ffffff;
      }     
      90% {     
        color: #ffffff;
      }      
      100% {        
        color: #ffffff;
      }
    }
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url('images/inLove.png');
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #04a3f0;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #04a3f0;
  background:#04a3f0;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}
.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.feature-title2 {
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 3px;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.features .form-control,
.features input {
    border-radius: 0;
}
.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}
.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}
.contact-body{
	margin:0;
	padding:0;
	text-align:center;
	background:linear-gradient(to right,rgba(50,50,225,0.5),rgba(225,175,50,0.5)), url(images/ocean.jpg);
	font-family: sans-serif;
}
.contact-title{
	margin-top:100px;
	color:#fff;
	text-transform:uppercase;
	transition: all 4s ease-in-out;
}
.contact-title h1{
	font-size:32px;
	line-height:10px;
}
.contact-title h2{
	font-size:16px;
}
form{
	margin-top:50px;
	transition: all 4s ease-in-out;
}
.form-control{
	width:600px;
	background:transparent;
	border:none;
	outline:none;
	border-bottom:1px solid gray;
	margin-bottom:16px;
}
input{
	height:45px;
}
form .submit{
	background: #04a3f0;
	border-color:transparent;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	height:50px;
	margin-top:20px;
}
.resume-body{
	margin:0;
	padding:0;
	text-align:center;
	background:linear-gradient(to right,rgba(50,50,225,0.5),rgba(225,175,50,0.5)), url(images/ocean.jpg);
	font-family: sans-serif;
}
.fa {
	padding: 20px;
	font-size: 10px;
	width: 55px;
	text-align: center;
	text-decoration: none;
	margin: 5px 7px;
	border-radius: 75%;
}
.fa:hover {
	opacity: 0.7;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
	background: #bb0000;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-github {
	background: #6130ff;
	color: white;
}
.media-title{
	margin-top: 20px;
	font-size:30px;
	color: white;
	font-weight: 700;
	text-align: center;
}
.media-footer{
	height: 150px;
	background: linear-gradient(rgba(0,0,0,1),rgba(50,50,50,1));
	background-size: 100%;
	background-position: center;
	position: relative;
	width: 100%;
  }